@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}



#cockpit-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('./deck.webp') no-repeat center center;
    background-size: cover;
    z-index: 1000;
    pointer-events: none;
}

.logo-wrapper {
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 450px;
    background-image: url('../../../public/images/holder1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
}

#technovanza-logo {
    width: 300px;
    height: 300px;
    background-image: url('../../../public/images/dates2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1002;
    margin-top: 55px;
}

#stars,
.content-box {
    position: relative;
    z-index: 1;
}

.left-frame {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 450px;
    height: 600px;
    background-image: url('../../../public/images/holder2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-btn1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    z-index: 1002;
}

landing-btn {
    padding: 12px 24px;
    font-size: 16px;
    color: #a3f7ff;
    background: linear-gradient(145deg, #0d0d0d, #1f1f1f);
    border: 2px solid #064f64;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(3, 191, 191, 0.3), inset 0 0 8px rgba(3, 191, 191, 0.4);
    /* cursor: none; */
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s, color 0.3s;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-family: 'Orbitron', sans-serif;
    transform-origin: center bottom;
    text-transform: uppercase;
}

landing-btn:hover {
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(3, 191, 191, 0.6), inset 0 0 12px rgba(3, 191, 191, 0.5);
    background: linear-gradient(145deg, #1f1f1f, #0d0d0d);
}

@keyframes pulseBorder {

    0%,
    100% {
        border-color: rgba(3, 191, 191, 0.3);
    }

    50% {
        border-color: rgba(3, 191, 191, 0.8);
    }
}

landing-btn {
    animation: pulseBorder 2s infinite alternate;
}

landing-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -100%;
    height: 2px;
    width: 100%;
    background: #a3f7ff;
    opacity: 0.6;
    transform: translateY(-50%);
    transition: left 0.5s;
    z-index: 1;
    /* cursor: none; */
    cursor: pointer;
}

landing-btn:hover::before {
    left: 100%;
    transition: left 0.5s;
}

landing-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

landing-btn:hover::after {
    opacity: 0.1;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
    z-index: 1002;
}

.social-icons a {
    font-size: 24px;
    color: #a3f7ff;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffffff;
}

.social-icons a:hover {
    color: #f0a500;
}

.map {
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.map:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.fade-in {
    display: block !important;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.hidden {
    display: none;
}

#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
}

.zoom-in {
    transform: scale(1.2);
}

.home-box {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-weight: bold; */
    width: 40%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1003;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 20px;
}

.home-box:hover {
    transform: translate(-50%, -50%) scale(1.05);
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4), 0 0 15px rgba(255, 255, 255, 0.1); */
}

.home-box.fade-in {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.02);
}

.home-box.fade-out {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.02);
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70%;
    width: 100%;
    text-align: center;
    background-image: url('./techno.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 300px;
    padding-top: 50px;
}

/* .home-heading {
    font-family: 'Gang Wolfik', sans-serif;
    font-size: 60px;
    color: #a3f7ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 90%;
    animation: fadeInHeading 2s ease-in-out;
    position: relative;
    z-index: 10;
    font-weight: normal;
}

*/ .home-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    text-align: center;
    background-image: url('./gangwolfik.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 350px;
    margin-top: 85%;
    animation: fadeInHeading 2s ease-in-out;
    z-index: 10;
}

@keyframes fadeInHeading {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(12px);
    color: #f0f0f0;
    font-weight: bold;
    width: 60%;
    max-width: 600px;
    height: auto;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    overflow-y: auto;
    z-index: 900;
    /* display: flex;
            flex-direction: row; */
    cursor: pointer;
    gap: 20px;
}

.about-container,
.highlights-container,
.theme-container {
    display: flex;
    gap: 20px;
    overflow-y: auto;
}

.about-container iframe,
.highlights-container iframe,
.theme-container iframe {
    width: 50%;
    border-radius: 8px;
    overflow-y: auto;
}

.about-container img {
    width: 50%;
    /* Adjust to control image size */
    max-width: 600px;
    /* Maximum width, can be adjusted */
        height: auto;
        /* Keeps the image's aspect ratio */
        border-radius: 8px;
        /* Similar to iframe styling */
        object-fit: cover;
        /* Ensures the image covers the container without stretching */
    }

/* .about-text,
.highlights-text,
.theme-text {
    width: 50%;
    display: flex;
    font-family: 'Roboto', sans-serif;
} */
.about-text,
.highlights-text,
.theme-text {
    width: 50%;
    display: flex;
    font-family: 'Saira Stencil One', sans-serif;
        font-size: 1.5rem;
        /* Adjust the size as needed */
        line-height: 1.6;
        /* Improve readability */
        /* text-transform: uppercase; */
        /* Optional: gives a futuristic look */
}

.content-box:hover {
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4), 0 0 15px rgba(255, 255, 255, 0.1);
}

.content-box.fade-in {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.02);
}

.content-box.fade-out {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.02);
}

.content-box h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    color: #a3f7ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}

.content-box h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 50px;
    height: 2px;
    background: #a3f7ff;
    animation: underline-glow 1.5s infinite alternate;
}

@keyframes underline-glow {
    from {
        box-shadow: 0 0 8px rgba(163, 247, 255, 0.5);
    }

    to {
        box-shadow: 0 0 15px rgba(163, 247, 255, 1);
    }
}

.about-text p,
.highlights-text p,
.theme-text p {
    font-size: 13px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #e0e0e0;
    text-align: center;
    height: 40%;
    padding-left: 15px;
}

.content-box p:hover {
    color: #ffffff;
}

.content-box strong {
    color: #a3f7ff;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(163, 247, 255, 0.6), 0 0 15px rgba(163, 247, 255, 0.3);
}

.about-text h2,
.highlights-text h2,
.theme-text h2 {
    font-size: 24px;
    color: #a3f7ff;
    text-align: center;
    margin-bottom: 15px;
}

.right-frame {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 450px;
    height: 600px;
    background-image: url('../../../public/images/holder2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 15px;
    position: fixed;
    background-color: #0d0d0d90;
    border-radius: 30%;
    bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    width: 80vw;
    z-index: 1000;

}

.bottom-nav span {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    transform-origin: center bottom;
    text-transform: uppercase;
    text-decoration: none;
    color: #00f7ff;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
    text-shadow: 0 0 20px #48C8FF;
}

.bottom-nav span:hover {
    color: #e4d526;
    text-shadow: 0 0 20px #fffb92;
    transform: scale(1.1);
}

.dropdown {
    display: none;
}

@media (max-height: 420px) or (max-width: 920px) {
    body {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

        .about-container,
        .highlights-container,
        .theme-container {
            display: flex;
            flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
            /* height: calc(100vh - 50px); */
            width: 100%;
            box-sizing: border-box;
        }


        .home-box {
            width: 70vw;
            gap: 10px;
    }

        .logo-wrapper {
            top: -125px;
            width: 320px;
            height: 300px;
            align-items: center;
        }

        #technovanza-logo {
            width: 220px;
        height: 200;
        /* Maintains aspect ratio */
        }

    #cockpit-background {
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        overflow: hidden;
    }

        .left-frame,
    .right-frame {
        display: none;
    }

    .home-heading {
        display: flex;
        justify-content: center;
            align-items: center;
            height: 50%;
            width: 100%;
            text-align: center;
            background-image: url('./gangwolfik.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            min-height: 250px;
            /* Reduced for smaller screens */
            margin-top: 80%;
            /* Adjusted for better alignment */
            animation: fadeInHeading 2s ease-in-out;
            z-index: 10;
    }

    .landing-btn1-container {
        flex-direction: row;
        align-items: center;
        bottom: 5%;
        gap: 5px;
    }

        .landing-btn {
            padding: 8px 16px;
        font-size: 11px;
    }

    .bottom-nav {
        max-width: 90vw;
        gap: 8px;
            bottom: 5%;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);
            /* Semi-transparent background */
            padding: 10px;
            border-radius: 10px;
        }

        .bottom-nav span {
        font-size: 13px;
        font-weight: 300;
    }

    .dropdown {
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1003;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Orbitron', sans-serif;
    }

    .dropdown button {
        background-color: #0d0d0d;
        color: #a3f7ff;
        padding: 8px 16px;
        font-size: 12px;
            font-family: 'Orbitron', sans-serif;
        border: 2px solid #064f64;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-transform: uppercase;
    }

    .dropdown button:hover {
        background-color: #1f1f1f86;
        color: #fff;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        /* margin-top: 10px; */
            margin-bottom: 10px;
        background: linear-gradient(145deg, #0d0d0d, #1f1f1f);
        padding: 15px;
        border: 2px solid #064f64;
        border-radius: 8px;
        position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%)
    }

    .dropdown-menu.show {
        display: flex;
    }


        .content-box {
        width: 90%;
        max-width: 100%;
        height: 40%;
        padding: 10px;
        gap: 10px;
        /* display: flex; */
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        overflow-y: auto;
    }



    .about-container img,
    .highlights-container iframe,
    .theme-container iframe {
        width: 90%;
        max-width: 500px;
        border-radius: 8px;
        display: block;
        margin: 0 auto;

    }

    .about-text,
    .highlights-text,
    .theme-text {
        width: 90%;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        line-height: 1.4;

    }

}