@font-face {
  font-family: 'Gang Wolfik';
  src: url('../public/fonts/gang_wolfik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gang Wolfik', sans-serif;
}