.team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44%;  /* Set fixed width for the card */
    height: auto; /* Fixed height to make it square */
    border: 5px solid #0011497e;
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 149, 255, 0.39);
    overflow: hidden;
    margin: 0 auto;  /* Center the card horizontally */
  }
  
  .team-image-container {
    width: 100%;  /* You can adjust this to fit your image size */
    height: 100%;  /* Ensures the container is square */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Fit the square image inside without distortion */
    border-radius: 8px;
  }